.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.app-main {
  height: 100vh;
  overflow: auto;
  background: rgb(242, 242, 243);
}

.form-label-field {
  margin-left: 30px;
}

.from-field-wrap {
  padding: 10px 30px 10px 0;
}

.tds-form-input {
  text-indent: 30px;
  min-width: 350px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  /* color: gray; */
  background-color: #80808012;
}

.tds-form-textarea-input {
  text-indent: 30px;
  min-width: 350px;
  border-radius: 30px;
  border-style: none;
  /* color: gray; */
  background-color: #80808012;
}

.text-feedback {
  color: #b74134;
}

.btn {
  height: 50px;
  width: 130px;
  border-radius: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  min-width: 206px;
}

.btn-disabled {
  height: 50px;
  width: 130px;
  border-radius: 30px;
  min-width: 206px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.826);
}


.align-horizontally {
  display: flex;
}

.form-user {
  position: fixed;
  margin: 70px 0px 0px 53px;
}

.align-vertically {
  display: block;
}



.users-list {
  margin: 40px 0px 0px 53px;
  margin-bottom: 1.6rem;
  justify-content: space-between;
  padding: 10px;
  max-width: 600px;
}





.app-header {
  border: 1px solid rgb(229, 229, 230);
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin-bottom: 24px;
  height: 56px;
  position: fixed;
  right: 0;
  left: 0;
}

.app-header-wrap {
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.app-header-title {
  margin-left: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 100px;

}

.app-header-title-link {
  text-decoration: none;
}

.app-header-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  max-width: 60%;
  height: calc(100% + 1px);
}

.app-header-nav-item {
  display: flex;
  justify-content: center;
  height: 55px;
  flex-grow: 1;
}

.active,
.app-header-nav-item:hover {
  display: flex;
  justify-content: center;
  height: 55px;
  flex-grow: 1;
  box-shadow: rgb(29 17 72) 0px -1px 0px inset;
}

.app-header-nav-item-link {
  text-decoration: none;
  height: 100%;
  display: flex;
}

.app-header-nav-item-inside-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.users-list-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 200%;

}

td,th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

 tr:hover {
  background-color: #ddd;
}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ddd;
}